@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito+Sans:wght@400;600;700&display=swap');
/* do not touch this part */
.header,
header{
    display: flex;
}
.header p{
    font-size: 18px;
    text-align: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding:10px;
}
.navbar ul li a,
.navbar ul 
{
    text-decoration: none;
    list-style-type: none;
    color:black;
}
.gbs p,
.signup p,
.login p,
.pbp p,
.ssp p,
.sisp p,
.sifp p{
    font-size: 40px;
    text-align: center;
}

/* this is the beginning of my part */
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    width: 80%;
    margin: auto;
}
#main h1{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 33px;
    margin-bottom: 50px;
}
#main .head{
    color: white;
}
.cent{
    text-align: center;
}
#main .form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main .form table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 10px;
}
#main .form th{ 
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-size: 20px;
}
#main .form td{
    font-weight: 520;
}
th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7){
    background-color: #203B93;
}
tr:nth-child(odd){
    background-color: #f9FAFC;
}
#main .form th, #main .form td{
    padding: 15px ;
    text-align: center;
    height: 50px;
    width: 200px;
}
#main .form input{
    width: 120px;
    height: 36px;
    border-radius: 10px;
    border: 2px solid #203B93;
}
#main .form input::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 48px;
}
#main .form .btn{
    letter-spacing: 0.5px;
    margin: 40px 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border: transparent;
    background: transparent;
    font-weight: 600;
    font-size: 22px;
    color: #203B93;
    width: 200px;
}