/* do not touch this part */
.header,
header{
    display: flex;
}
.header p{
    font-size: 18px;
    text-align: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    padding:10px;
}
.navbar ul li a,
.navbar ul 
{
    text-decoration: none;
    list-style-type: none;
    color:black;
}
.gbs p,
.signup p,
.login p,
.pbp p,
.ssp p,
.sisp p,
.sifp p{
    font-size: 40px;
    text-align: center;
}